*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#main-wrapper{
  background: rgb(214,219,212);
  background: linear-gradient(0deg, rgba(214,219,212,1) 82%, rgba(0,150,136,1) 82%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#containerApp{
  background-color: aqua;
  width: 80%;
  height: 93%;
  background-color: #f0f0f0;;
  display: flex;
}

#leftSide{
  background-color: blueviolet;
  width: 35%;
  height: 100%;
}

#rightSide{
  background-color: aquamarine;
  width: 65%;
  height: 100%;
}

.topBarr{
  height: 50px;
  background-color: #eaeaea;
  display: flex;
  align-items: center;
  padding: 5px;
  position: relative;
}

.avatarNome{
  display: flex;
  align-items: center;
}

.avatar img{
  width: 30px;
  border-radius: 50%;
}

.iconTopContainer{
  display: flex;
  position: absolute;
  right: 5px;
}

.icon{
  margin: 0px 4px 0px 4px;
  color: #b1b1b1;
}

.icon:hover{
  color: black;
}

#newsBarr{
  background-color: #8edafc;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

#bell i{
  background-color: #8edafc;
  color: white;
}

#scrittaGrande{
  font-size: small;
}

#scrittaPiccola{
  font-size: x-small;
  color: #659eb9;
  text-decoration: underline;
}

